.subtitle {
  color: #f9004d;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase;
}

.title {

  font-weight: 700;
  line-height: 1.2;
  color: #c4cfde;
  margin-top: 20px;
  margin-bottom: 40px;
}