.items {
  display: flex;

  @media (max-width: 360px) {
    gap: 0 6px;
  }
}
.item {
  color: white;
  cursor: pointer;
  padding: 30px 10px;
  flex: 1 1 25%;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background: linear-gradient(to left bottom, #212428, #16181c);
  transition: all 0.5s;
  @media (max-width: 800px) {
    padding: 12px 5px;
    font-size: 16px;
  }
  @media (max-width: 500px) {
    padding: 8px 4px;
    font-size: 12px;
    border-radius: 5px;
  }
  @media (max-width: 400px) {
    padding: 4px 4px;
    font-size: 10px;
  }
  @media (max-width: 340px) {
    padding: 3px 3px;
    font-size: 9px;
  }
}
.item:hover {
  color: #ff014f;
  box-shadow:
    10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
}
.active {
  color: #ff014f;
  box-shadow:
    10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
}
