.resume{
padding-top: 70px;


}
.title{
  text-align: center;
 }

.resumeSkills{
  display: flex;
  gap: 0 60px;
  padding: 35px 5px 35px 5px;

}
.resumeDev{
  flex: 1 1 50%
}
.resumeDesign{
  flex: 1 1 50%
}

.skillsContainer{

}
