.item {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 25px 45px 25px 45px;
  border-radius: 25px;
  background: linear-gradient(to right bottom, #212428, #16181c);


  li {
    display: flex;
    gap: 20px 0;
    flex-direction: column;


    img {
      border-radius: 15px;
     width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.08);
      }
    }

    .kind {
      display: flex;
      justify-content: space-between;

      p {
        color: #f9004d;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
      }


    }

    h4 {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      cursor: pointer;

      :hover {
        font-size: 50px;
      }
    }

    .technologies {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 28px;
      display: flex;
      .slash {
        color: #f9004d;
        padding: 0 4px;

      }
    }
  }
}

.link {
  text-transform: uppercase;
  font-size: 14px;
  color: #c4cfde;
  padding:2px;

  :hover {
    color: #f9004d;
  }
}

