.item {
  height: 100%;
  box-shadow:
    10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
  padding: 25px 45px 25px 45px;
  border-radius: 25px;
  background: linear-gradient(to right bottom, #212428, #16181c);
  @media (max-width: 1380px) {
    padding: 20px;
  }

  li {
    display: flex;
    height: 100%;
    gap: 20px 0;
    flex-direction: column;
    @media (max-width: 850px) {
      gap: 10px 0;
    }

    img {
      max-height: 230px;
      border-radius: 15px;
      width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .kind {
      display: flex;
      justify-content: space-between;

      p {
        color: #f9004d;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      cursor: pointer;
      @media (max-width: 850px) {
        font-size: 18px;
        line-height: 24px;
      }
      :hover {
        font-size: 50px;
      }
    }

    .technologies {
      flex: 1 0 auto;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 28px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 850px) {
        font-size: 12px;
        line-height: 20px;
      }

      .slash {
        color: #f9004d;
        padding: 0 4px;
      }
    }
  }
}

.link {
  flex: 0 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  color: #c4cfde;
  padding: 2px;

  :hover {
    color: #f9004d;
  }
}
