.container {
  position: relative;
}
.container-inner {
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 150px 20px 0 20px;
  @media (max-width: 750px) {
    padding: 115px 20px 0 20px;
  }
}
.particles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
}
